body,
html,
* {
    font-size: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
    width: 30rem;
    height: 35rem;
    border: 2px solid wheat;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* background-image: url(); */
}

.card-img{
    width: 100%;
    height: 40%;
    object-fit: contain;
}

.card-header{
    font-size: 2.2rem;
    margin-top: 1.2rem;
}